.what-container,
.subscriber-container,
.team-container {
  background-color: #FAFAFA;
  width: 100%;
}
.unique-container,
.community-container {
  background-color: #FFFFFF;
  width: 100%;
}
.subscriber-container {
  height: 556.938px;
  overflow: visible;
}
.community-container {
  height: 375px;
  overflow: visible;
}
.content {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0 50px 0;
}
.img-wrapper {
  width: 50%;
  display: inline-block;
  
  img {
    width: 100%;
  }
  .iPad {
    width: 200%;
    margin-top: -75px;
    margin-left: -100px;
  }
  .tiltiPad {
    width: 155%;
    margin-top: -50px;
    margin-left: -140px;
  }
}
.iPadWrap,
.tiltiPadWrap {
  position: relative;
}
.text-container {
  width: 50%;
  height: 100%;
  display: inline-block;
  color: #343e41;
  vertical-align: top;
}
.text-wrapper {
  width: 289px;
  margin: auto;
}
.text-wrapper1 {
  width: 350px;
  margin: auto;
}
.team-container {
  padding-bottom: 100px;
}
.team-container table tr td {
  text-align: center;
  width: 333px;
  padding: 10px 25px;
}
.team-container table tr td img {
  width: 200px;
}
.polygon {
  position: absolute;
  width: 67px;
  height: 93px;
  transform: rotate(-138deg);
}
.polygon.one {
  top: 337px;
  background: #FAFAFA;
  right: 25%;
}
.polygon.two {
  top: 671px;
  background: #FFFFFF;
  left: 25%;
}
.polygon.three {
  top: 1229px;
  background: #FAFAFA;
  right: 25%;
}
.polygon.four {
  top: 1603px;
  background: #FFFFFF;
  left: 25%;  
}