/* navbar */

@import '../../scss/mixins';
@import '../../scss/variables';

#basic-navbar-nav a{
  text-decoration: none;
  padding: 20px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 72px;
  color: white;
}

nav.navbar {
  justify-content: space-between;
  background-color: #343e41;
  display: flex;
  height: 72px;
  width: 100vw;

  .img-container {
    height: 72px;
  }

  img.navbar-logo {
    height: 36px;
    width: 128px;
    padding-left: 100px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .navbar-collapse {
    padding-right: 30px;
  }
}



@media only screen and (max-width: 768px) {
  nav.navbar {
    .navbar-logo {
      position: relative;
      top: 8px;
      width: 40%;
    }
  }

  .footer-menu {
    position: fixed;
    bottom: 0px;
    z-index: 999;
    background: #FFFFFF;
    padding: 10px;
    width: 100%;

    a {
      color: #343E4A;

      span {
        display: block;
        font-size: 10px;
      }
    }
  }
}