$primary-color: #941a30;
$secondary-color: #44B6B9;
$third-color: #4D4D4D;
$primary-border-color: #9b000c;
$primary-onhover-color: #e85564;

$pretty--color-primary: #941a30;
$pretty--color-success: #44b6b9;